@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Josefin+Sans&family=Ubuntu:ital,wght@0,400;1,300&display=swap');



body {
  background-color: #283044;
  background-image: url(https://i.stack.imgur.com/IehB7.png);
  font-family: "Open Sans";
  font-size: 16px;
  margin: 0 0 20px 0;
  color: #EBF5EE;
  width: 100%;
}

h2, h3 {
  font-family: "Ubuntu";
  color: #78a1bb; 
}

h1 {
  font-family: "Josefin Sans";
  font-size: 5em;
  color: #15af7c;
}

h2 {
  font-style: italic;
  font-size: 2em;
  margin-top: -70px;
  text-align: center;
}

h3 {
  font-size: 1.3em;
}

.preamble p, .main p {
  width: 85%;
	max-width: 850px;
  text-align: justify;
  padding-left: 15px;
}

.main {
  grid-area: m;
}

.summary {
  color: #ebf5ee85;
  font-size: .9em;
  text-align: end;
  grid-area: l;
}

.summary a {
  font-size: 10px;
  padding: 0.75em 1em;
  margin: 0.5em;
  background-color: #C1666B;
  color: #EBF5EE;
  text-decoration: none;
  text-transform: uppercase;
}

.summary a:hover{
  background-color: #9b696b;
}

abbr {
  text-decoration: none;
  color: #bfa89e;
}

a {
  text-decoration: none;
  color: #C1666B;
}

ul {
  list-style-type: none;
}

.preamble {
  background-color: #bfa89e31;
  grid-area: b;
}

header, .summary {
  background-color: #1c2230a6;
}

.intro {
  grid-area: h;
  display: grid;
  grid-template-areas: 
  "t t t"
  "l l l"
  ". . b"
  ;
}

header {
  grid-area: t;
}

.sidebar ul {
  padding: 0px;
}

aside.sidebar {
	grid-area: s;
}

header, .page-wrapper > div, .page-wrapper section > div {
	padding: 10px 30px 10px 80px;
}

.design-selection ul > li {
	display: flex;
	flex-direction: column;
	border: 1px solid #1c2130;
	padding: 10px;
	margin: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.317);
  background-color: #1c2230a6;
  text-align: center;
  cursor: pointer;
  font-size: 0.75rem;
  color: #b5beb8;
}

.design-selection ul > li > *:first-child{
  font-size: 1.4em;
  font-family: "Ubuntu";
}

a.designer-name {
  display: flex;
  align-self: center;
  color: #EBF5EE;
}

.design-selection ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

footer > a {
	border: 1px solid #1c2130;
	padding: 10px 40px;
	margin: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.317);
  background-color: #1c2230a6;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-right: 80px;
}

.design-archives, .zen-resources {
  background-color: #bfa89e31;
  margin: auto auto 10px -100px;
  padding-left:105px;
  padding-top: 1px;
  padding-bottom: 2px;
}

.requirements {
  background-color: #bfa89e31;
  margin: 0 -30px 30px -30px;
  padding:5px 0px 5px 30px;
}

.page-wrapper {
  display: grid;
  margin: 0 0 0 50px;
  grid-template-areas: 
  "h h h"
  "s m m";
}