@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Josefin+Sans&family=Ubuntu:ital,wght@0,400;1,300&display=swap');



body {
  background-color: #283044;
  background-image: url(https://i.stack.imgur.com/IehB7.png);
  font-family: "Open Sans";
  font-size: 16px;
  width: 100%;
  margin: 0px;
  color: #EBF5EE;
}

h2, h3 {
  font-family: "Ubuntu";
  color: #78a1bb; 
}

h1 {
  font-family: "Josefin Sans";
  font-size: 5em;
  color: #15af7c;
}

h2 {
  font-style: italic;
  font-size: 2em;
  margin-top: -70px;
  text-align: center;
}

h3 {
  font-size: 1.3em;
}

.preamble p, .main p {
  width: 85%;
	max-width: 850px;
  text-align: justify;
  padding-left: 15px;
}

header, .summary {
  width: 90%;
  background-color: #1c2230a6;
}

.summary {
  line-height: 50%;
  color: #ebf5ee85;
  font-size: .9em;
  text-align: end;
}

.summary a {
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0.5em;
  border: 3px solid #bd8285;
  color: #C1666B;
  text-decoration: none;
  text-transform: uppercase;
}

abbr {
  text-decoration: none;
  color: #bfa89e;
}

a {
  text-decoration: none;
  color: #C1666B;
}

ul {
  list-style-type: none;
}

.preamble {
  background-color: #bfa89e31;
}

.intro, .main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sidebar ul {
  padding: 0px;
}

aside.sidebar {
	position: absolute;
	left: 1%;
	top: 400px;
	padding: 10px 30px;
}

header, .page-wrapper > div, .page-wrapper section > div {
	padding: 10px 30px 10px 80px;
}

.design-selection ul > li {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid;
	padding: 10px;
	font-size: 20px;
	margin: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.317);
}

.design-selection ul > li > a {
	font-size: 1rem;
	text-decoration: none;
	margin-bottom: 1em;
	height: 3em;
}

.design-selection ul > li > a:last-child {
	align-self: flex-end;
	margin-top: 1em;
	margin-bottom: 0;
}