@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:ital,wght@0,400;1,300&display=swap');

body {
  font-family: "Open Sans";
  font-size: 16px;
  text-align: center;
}

h1, h2, h3 {
  font-family: "Ubuntu";
}

h1 {
  font-size: 2em;
}

h2 {
  font-style: italic;
  font-size: 1.3em;
}

abbr {
  text-decoration: none;
}

.sidebar > ul {
  text-align: left;
}